body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgba(255,221,132,1) 0%, rgba(255,151,182,1) 100%);
    text-align: center;
    padding: 10px;
}

.square {
    position: relative;
    width: 90vw;
    max-width: 1000px;
    margin-bottom: 5vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 10px ridge pink;
    padding: 20px;
}

#question {
    color:rgb(0, 0, 0);
    font-family:Helvetica;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    padding: 20px;
}

.buttons {
    text-align: center;

}

.yesButton, .noButton, .getButton {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 80vw; /* Responsive width */
    max-width: 250px; /* Prevents it from getting too wide */
}

.yesButton a, .noButton a, .getButton a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#ff2b2b;
    display:block;
    position:relative;
    padding:20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #ffc4c4, 0 10px 0 #910000;
    -moz-box-shadow:inset 0 1px 0 #ffc4c4, 0 10px 0 #910000;
    box-shadow:inset 0 1px 0 #ffc4c4, 0 10px 0 #910000;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.yesButton a:active, .noButton a:active, .getButton a:active{
    top:10px;
    background-color:#ff2b2b;

    -webkit-box-shadow:inset 0 1px 0 #ffc4c4, inset 0 -3px 0 #910000;
    -moz-box-shadow:inset 0 1px 0 #ffc4c4, inset 0 -3pxpx 0 #910000;
    box-shadow:inset 0 1px 0 #ffc4c4, inset 0 -3px 0 #910000;
}

.yesButton:after, .noButton:after, .getButton:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#getButton {
    display: none;
}

#message {
    text-align: center;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    margin-top: 50px;
}

html, body {
  margin: 0 !important;
}

@keyframes floatLantern {
    0% {
      transform: translate(-50%, -50%) translateY(0);
    }
    50% {
      transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0);
    }
}

.container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    padding: 20px;
    background-size: cover;
    z-index: 1000;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    pointer-events: none;
}

.lantern {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vmin;
    width: 32vmin;
    z-index: 10;
    animation: floatLantern 3s ease-in-out infinite alternate;
}

.lantern::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#e7984a, #fad14f);
    animation: flicker 750ms ease-in infinite alternate;
    z-index: 10;
}

.lantern .bottom {
    position: absolute;
    bottom: -3vmin;
    background: #f0ac4a;
    z-index: 11;
    height: 6vmin;
    width: 100%;
    border-radius: 50%;
}

.lantern .body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.lantern .body::before {
    content: "";
    position: absolute;
    height: 6vmin;
    width: 100%;
    top: -3vmin;
    background: red;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 9;
    animation: flicker-2 750ms ease-in infinite alternate;
}

.lantern .body::after {
    content: "";
    background: url("https://diypixiedust.com/wp-content/uploads/2020/02/tangled_lantern_tangledboats_border_round_gold.png")
    center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 1vmin;
    left: 0;
    right: 0;
    bottom: 5vmin;
    border-radius: 5vmin;
    z-index: 20;
}

@keyframes flicker {
    0% {
        background: linear-gradient(#e7984a, #fad14f);
    }
    10% {
        background: linear-gradient(#e9a25c, #fbd661);
    }
    45% {
        background: linear-gradient(#e7984a, #fad14f);
    }
    75% {
        background: linear-gradient(#e9a25c, #fbd661);
    }
    90% {
        background: linear-gradient(#e7984a, #fad14f);
    }
    100% {
        background: linear-gradient(#e9a25c, #fbd661);
    }
}

@keyframes flicker-2 {
    0% {
        background: #e7984a;
    }
    10% {
        background: #e9a25c;
    }
    45% {
        background: #e7984a;
    }
    75% {
        background: #e9a25c;
    }
    90% {
        background: #e7984a;
    }
    100% {
        background: #e9a25c;
    }
}
